# Ignore Compilation Folders
Language/Binaries
Language/Diagnosis
Language/Temp/Objects/
Language/Temp/Transfer/
Language/Temp/Simulation/
LoggerData

# Ignore Logs
*.log

# Ignore Users Set Files
*.set
