#content_AreaHeader_Label1 {
  height: 30px;
}

#content_AreaHeader_Label1 {
  top: 20px;
  position: absolute;
}

#content_AreaHeader_Label1 {
  left: 540px;
  position: absolute;
}

#content_AreaHeader_Label1 {
  width: 300px;
}

#content_AreaHeader_Label1 {
  z-index: 0;
}
